@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
* {
    scroll-behavior: smooth;
}

  

body {
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    /* background-color: transparent; */
    color: #d3d3d3;
    background-color: black!important;
    -webkit-tap-highlight-color: #222;
    scroll-behavior: smooth !important;
    display: block;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url('5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 0vh;
}

header {
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content {
    background-position: center;
    width: 100%;
    text-align: center;
    z-index: 2;
}


.ctfDate {
    font-size: 45px;
    color: #00bdff;
    font-weight: bold;

}

.countdown {
    /* background-color: rgb(67, 207, 241, 0.5); */
    font-size: 20px;
    margin-bottom: 2vh;
    max-width: 70vh;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    letter-spacing: 3px;
}



.subtitle {
    color: #fec503;
}

.cyber {
    width: 150px;
    height: auto;
    float: center;
    margin-top: 100px;
}

.presents {
    float: center;
    font-size: x-large;
    color: #f3f704;
}

.responsive {
    width: 70rem;
    height: auto;
}


/* for typed text */
.wrapper {
    height: 2rem;
    padding: 40px 0px 0px 0px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .effect-wrapper {
    text-align: center;
    font-weight: normal;
  }
  
  #typed {
    font-weight: bold;
    color: #00bdff;
  }
  
  .cursor {
    display: inline-block;
    background-color: #b0ff95;
    animation: blinker 500ms infinite;
  }
  
  .cursor.typing-true {
    animation: none;
  }
  
  @keyframes blinker {
      0% { background-color: #b0ff95; }
      50% { background-color: transparent; }
      100% { background-color: #b0ff95; }
  }
  


/*Media Query Part 
For responsiveness of the website*/

@media (max-width: 600px) {
    .body {
        background-image: url('flagbg.jpg')!important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
        background-position-x: center !important;
        background-position-y: 0vh!important;
    }
 
    .maindiv {
        margin: 0rem;
    }
    .eachdiv {
        width: 100%;
        margin: 0.5rem 0;
    }
    .ctfDate {
        font-size: 30px;
    }
    .vid {
        width: 85% !important;
        height: 100vh !important;
        display: none;
        background-color: #0f0f0f;
    }
    .countdown {
        font-size: 20px;
    }
    .bothButtons {
        margin-top: 35px;
        padding-bottom: 75px;
    }
    .cyber {
        margin-top: 10px;
        width: 15rem;
    }
    .presents {
        font-weight: 100 !important;
        margin-top: 10px;
        font-size: 17px;
        letter-spacing: 8px;
    }
    .responsive {
        width: 95%;
    }
    #bg-vid {
        margin-top: 50px;
    }
    .header-content {
       
        margin-bottom: 15px;
    }
    .firstHr {
        display: none;
    }
    /* remove this after adding logo */
    .cursive {
        font-size: 45px;
    }
    .registerNow {
        margin: 10px 20px 10px 20px;
        padding: 10px;
    }
    header {
        background: none;
        background-color: #0f0f0f;
    }
    
    .navbar-default .navbar-nav>.active>a {
        border-radius: 0;
        color: #fff;
        width: 100vw;
        background-color: #1ee2e7;
    }
}


